.get_page{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1031;
    display: none;
    padding-top:20px;
    }
    .get_page .container{
       position: relative; 
    }
    .get_page .cross{
        background-color: transparent;
        border: none;
        position: absolute;
        top: 10px;
        right: 40px;
    }
    .get_page .cross svg{
        width: 24px;
        height: 24px;
    }
    .get_page.active{
        display: block;
    }
    .get_page .container{
        height: 100%;
    }
    .get_page iframe{
        display: block;
        width: 100%;
        height:100%;
        margin: 0 auto;
    }
    .get_page iframe img{
        width:100%;
    }
    
    .otherPage{
        background-color: transparent;
    }
    .otherPage .content{
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
    }
    .otherPage .content img{
        width: 100%;
    }
    .otherPage .content h1{
        font-size: 22px;
    }
    .otherPage .content form{
        margin-top: 30px;
    }
    .otherPage .content form img{
        height: 280px;
        width: fit-content;
        object-fit: contain;
        box-shadow:0 0 10px 1px rgb(0 0 0 / 29%);
    }
    .main-panel .content .panel-body .table-responsive{
        width: 100%;
    }
    .main-panel .content .panel-body .table-responsive img{
        object-fit: cover;
    }
    .main-panel .content .panel-body .table-responsive td{
        text-align: center;
    }
    .main-panel .content .panel-body .table-responsive td p{
        margin: 0;
        max-width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .fade:not(.show){
        opacity: 1;
        background-color: rgba(0,0,0,0.15);
    }
    .modal{
        padding-top: 32px;
    }
    .sidebar .nav .nav-item .nav-link svg{ 
width: 16px;
height: 16px;
margin-left: auto;
    }
    .sidebar .nav .nav-item .nav-link[aria-expanded=true] svg{
        transform:rotate(90deg);
    }
    .navbar .navbar-brand-wrapper .navbar-brand img{
        height: 52px;
    }
    .loader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.4);
        display: none;
    }
    .loader.active{
        display: flex;
    }
    .spinner {
        border: 10px solid #f3f3f3; /* Light grey */
        border-top: 10px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
.otherPage .content .form-group label{
font-size: 16px;
margin-bottom: 12px;
}

/* button with btn-success class */
.btn-success {
    color: #000;
    background-color: #e1ac27;
    border-color: #e1ac27; }
    .btn-success:hover {
      color: #000;
      background-color: #deb654;
      border-color: #deb654; }
    .btn-check:focus + .btn-success, .btn-success:focus {
      color: #000;
      background-color: #deb654;
      border-color: #deb654;
      -webkit-box-shadow: 0 0 0 0.25rem rgba(23, 176, 153, 0.5);
      box-shadow: 0 0 0 0.25rem rgba(23, 176, 153, 0.5); }
    .btn-check:checked + .btn-success,
    .btn-check:active + .btn-success, .btn-success:active, .btn-success.active,
    .show > .btn-success.dropdown-toggle {
      color: #000;
      background-color: #49d9c3;
      border-color: #deb654; }
      .btn-check:checked + .btn-success:focus,
      .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus,
      .show > .btn-success.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.25rem rgba(23, 176, 153, 0.5);
        box-shadow: 0 0 0 0.25rem rgba(23, 176, 153, 0.5); }
    .btn-success:disabled, .btn-success.disabled {
      color: #000;
      background-color: #e1ac27;
      border-color: #e1ac27; }
.form-control:focus{
    border-color:#e1ac27;
    box-shadow: 0 0 0 0.25rem #e1ac272e;
      }
.form-select:focus{
    border-color: #e1ac27;
    box-shadow: 0 0 0 0.25rem #e1ac272e;
}

/* ---------------------------------------------- */
.add_new_box {
    text-align: right;
}

#gst_fld {
    display: none;
    margin-top: 20px;
}

.new_form_fild {
    margin: 20px 0;
}

.chk_gst {
    margin: 20px 0;
}

.new_input {
    position: relative;
}

a.cross_btn {
    position: absolute;
    top: 20%;
    right: 1%;
    font-size: 22px;
    color: #ea0000;
    text-decoration: none;
    cursor: pointer;
}

.gst_fld {
    display: none; /* Initially hide elements with class 'gst_fld' */
}